[global]
  checkNewVersion = false
  sendAnonymousUsage = false

[entryPoints]
  [entryPoints.metrics]
    address = ":8082"

  [entryPoints.apollo]
    address = ":8443"

      [entryPoints.apollo.http]
        middlewares = ["apollo-basic-auth@file", "apollo@file"]

      [entryPoints.apollo.http.tls]
        options = "apollo"
        [[entryPoints.apollo.http.tls.domains]]
          main = "{{ arc['space']['space_domain'] }}"
          sans = ["*.{{ arc['space']['space_domain'] }}"]

[tls.options]
  [tls.options.apollo]
    certResolver = "leresolver"
    minVersion = "VersionTLS12" 
    cipherSuites = [
      "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256",
      "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384",
      "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256"
    ]
    curvePreferences = [
      "CurveP521",
      "CurveP384"
    ]
    sniStrict = true

[log]
  level = "DEBUG"
  filePath = "/var/log/traefik.log"

[accessLog]
  filePath = "/var/log/traefik.access.log"

[api]
  dashboard = true
  insecure = true
  debug = true

[metrics]
  [metrics.prometheus]
    addEntryPointsLabels = true
    addServicesLabels = true
    entryPoint = "metrics"

[ping]
  entrypoint = "apollo"

[certificatesResolvers.leresolver.acme]
  email = "{{ arc['providers'][arc['addons']['proxy']['ssl']['provider']]['mail'] }}"
  storage = "{{ app_dir }}/apollo-acme.json"

  [certificatesResolvers.leresolver.acme.httpChallenge]
    entryPoint = "apollo"

[providers]
  [providers.file]
    filename = "{{ app_dir }}/apollo-traefik-dynamic.toml"
    watch = true
