[Unit]
Description=Victoria Metrics Agent
After=network-online.target

[Service]
Type=simple
User=apollo
Group=apollo
ExecStart={{ apollo_binary_dir }}/vmagent \
    -promscrape.config={{ app_dir }}/prometheus.yml \
    -remoteWrite.url=http://{{ apollo_manager }}:8428/api/v1/write \
    -remoteWrite.tmpDataPath=/tmp/vmagent-remotewrite-data

SyslogIdentifier=vmagent
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target